@media (max-width: 34em) {
  .avs {
    grid-template-columns: 1fr;
<<<<<<< HEAD
    height: 62rem;
=======
    height: 66rem;
>>>>>>> 308503b74d29b8ce9dc9a385d6bedf886b18e05e
  }
  .avs-image-box {
    height: 5rem;
    grid-row: 1;
  }
  .avs-text-box {
    padding: 2.4rem 3rem 3rem 3rem;
  }
  .avs-form {
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  h2 {
<<<<<<< HEAD
    margin-bottom: 2rem;
=======
    margin-bottom: 3rem;
    font-size: 2rem;

>>>>>>> 308503b74d29b8ce9dc9a385d6bedf886b18e05e
  }
}
